<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List Ingredients</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<ul class="nav nav-pills">
    <li role="presentation"><a href="#" th:href="@{/index}">Wszystkie przepisy</a></li>
    <li role="presentation"><a href="#" th:href="@{/recipe/create}">Dodaj przepis</a></li>
    <li role="presentation"><a href="#" th:href="@{/ingredients}">Wszystkie składniki</a></li>
</ul>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Lista składników</h1>
                    <button>
                        <a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/create'}">Dodaj nowy składnk</a>
                    </button>
                </div>
                <div class="panel-body">
                    <!--/*@thymesVar id="recipe" type="mmo.app.spring5recipeapp.domain.Recipe"*/-->
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipe.ingredients)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Opis</th>
                                <th>Zobacz</th>
                                <th>Aktulizuj</th>
                                <th>Usuń</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Tasty Goodnees 1</td>
                                <td><a href="#">Zobacz</a></td>
                                <td><a href="#">Aktualizuj</a></td>
                                <td><a href="#">Usuń</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>12333</td>
                                <td>Tasty Goodnees 2</td>
                                <td><a href="#">Zobacz</a></td>
                                <td><a href="#">Aktualizuj</a></td>
                                <td><a href="#">Usuń</a></td>
                            </tr>
                            <!--/*@thymesVar id="recipe" type="mmo.app.spring5recipeapp.domain.Recipe"*/-->
                            <tr th:each="ingredient : ${recipe.ingredients}">
                                <td th:text="${ingredient.id}">334</td>
                                <td th:text="${ingredient.amount} + ' ' + ${ingredient.description}">
                                    Tasty Goodnees 3
                                </td>
                                <td><a href="#"
                                       th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/show'}">Pokaż</a>
                                </td>
                                <td><a href="#"
                                       th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}">Aktualizuj</a>
                                </td>
                                <td><a href="#"
                                       th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}">Usuń</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>